<dialog class="create-folder-modal">
  <form action="/create-folder" method="post">

    <input type="text" name="folder_name" id="folder_name" placeholder="New Folder">
    <button type="submit" class ="green-button">Create Folder</button>
    <button type="button" class ="close-create-folder-modal gray-button">Close</button>
  </form>
</dialog>