<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="root-container">
  <%- include('partials/navbar') %>
  <main>
    <div class="file-dashboard-header">
      <form id="uploadForm" action="/upload-file" enctype="multipart/form-data" method="post">
          <input type="file" class="form-control-file" name="uploaded_file" id="realFileInput" 
          onchange="document.getElementById('uploadForm').submit();">
          <button type="button" onclick="document.getElementById('realFileInput').click();"
           >Upload File</button>
      </form>
      <button>Create Folder</button>
    </div>

    <%- include('partials/displayFiles') %>
    
  </main>
  <%- include('partials/footer') %>
</div>
</body>
</html>